name: Continuous Integration

on:
  pull_request:
    types: [opened,synchronize]

# Add default permissions of read
permissions:
  contents: read


jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        id: install-python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Python Dependencies
        id: install-dependencies
        run: |
          pip3 install -r dev-requirements.txt

      - name: Python Linting
        id: linting-python
        uses: thoughtparametersllc/python-linting@fef12457beb0e451d300769c5fc5091124d3bcfa