name: Continuous Integration

on: [push, pull_request]

# Add default permissions of read
permissions:
  contents: read

jobs:
  linting:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Python Linting
        id: linting-python
        uses: thoughtparametersllc/python-linting@v1
        with:
          python-version: "3.11"
          requirements-file: "dev-requirements.txt"
          pylint-options: "--max-line-length=120"
          black-options: "--line-length 120"
          mypy-options: "--strict"
          commit-badges: "false"

  testing:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    needs: linting

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Python Testing
        id: testing-python
        uses: thoughtparametersllc/python-unit-testing@v1
        with:
          python-version: '3.11'
          requirements-file: 'dev-requirements.txt'
          pytest-options: '--cov --cov-report=xml'
          commit-badges: 'false'

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
        
        